h1{
    text-align: center;
    font-size: 50px;
    font-family: Blackadder ITC;
    color: greenyellow;
    height: 80px;
    width: 100%;
    background-color: slategrey;
}
h2{
  text-align: center;
  font-size: 50px;
  font-family: calabri;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
}
img.a{
  margin-left: 20%;
}

hr{
  height: 6px;
  background-color: greenyellow;
  color: greenyellow;
}
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
p{
  font-family: calibri;
}