
html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,9,10,0.75)),url("../Media/images/contents-background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

body {
    background-color: #333333;
    background-size: cover;
}

nav {
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 190px;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fdc215;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

mark.red {
    color: #ff0000;
    background: transparent;
}

mark.bold {
    color: rgb(142, 142, 142);
    background: transparent;
    font-weight: 500;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 38px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.hero-btn:hover {
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #fdc215;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}












/*------ OTHER ---------*/

 /***************************           Cards            *******************************/
  
 .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr)); /* see notes below */
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 5rem;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
 
  }
  
  .card {
    height: 450px;
    /*background: red;*/
   /* border: 3px solid #e7e7e7;*/
    border-radius: 15px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5ea4;
    background-color: rgba(117, 112, 112, 0.247);
    transition: 1s;
 
   
  } /* li item */
  
.card:hover {
  background-color: rgba(117, 112, 112, 0.547);
}

  .thumbnail img {
    fill: #c7c4c4;
    height: 220px;
    opacity: .7;
    margin-top: 5px;
    border: 20px;
    border-radius: 10px;
 
  }
  
  .card-content {
      font-size: 1rem;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 100px;
  }

  .card-content p {
      color: rgb(255, 255, 255);
  }

  .card-content h2 {
      color: #70d1f8;
      font-weight: 700;
      font-size: 30px;
      margin-left: 2px;
  }
  
  .panel.card-panel .panel-header {
      background-color: #ffffff;
      font-size: .75rem;
      font-weight: 400;
      height: 25px !important;
  }
  
  .panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .category {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  footer {
    border-top: 2px solid #e7e7e7;
    margin: .5rem 0 0;
    min-height: 30px;
    font-size: 1rem;
    color: #cec7c285;
  }
  
  .category {
      position: absolute;
      top: 196px;
      left: 0;
      color: #fff;
      background: #e74c3c;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  
  .category__01 {
    background-color: #50c6db;
  }
  
  .category__02 {
    background-color: #5d5e5e;
  }
  
  .category__03 {
    background-color: #51bb7b;
  }
  
  .category__04 {
    background-color: #f47820;
  }
  
  .category__05 {
    background-color: #000000;
  }
  
  .post-meta {
    margin-top: .5rem;
  }
  
  .comments {
    margin-left: .5rem;
  }

  a {
    text-decoration: none;
    color: orange;
  }
  
  h2 {
    color: #000;
    margin: 2rem 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;

  }
  
  img {
    display: block;
      border: 0;
      width: 100%;
      height: auto;
  }

  
.stages {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}

h1 {
    font-size: 62px;
    font-weight: 600;
}

p {
    color: rgb(193, 190, 190);
    font-size: 17px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.stages-col {
    flex-basis: 31%;
    background: #636262;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-left: 1%;
    transition: 0.5s;

}

h3 {
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    margin: 5px 0;
}

.stages-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }

}

